<?xml version="1." encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1..dtd">
<suite name="Suite"  allow-return-values="true">
  	<test name="Test" preserve-order = "true" verbose = "2">
  		<classes>
  			<class name = "TestNG.TestDealmoon"/>
  		</classes>
 	 </test> <!-- Test -->
</suite> <!-- Suite -->
